<div>
    <h2>
        <span jhiTranslate="clickandrungwApp.license.home.title">Licenses</span>
        <button class="btn btn-primary float-right jh-create-entity create-license" [routerLink]="['/', { outlets: { popup: ['license-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clickandrungwApp.license.home.createLabel">
            Create new License
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="licenses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="service"><span jhiTranslate="clickandrungwApp.license.service">Service</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="studyLanguage"><span jhiTranslate="clickandrungwApp.license.studyLanguage">Study Language</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validSince"><span jhiTranslate="clickandrungwApp.license.validSince">Valid Since</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validUntil"><span jhiTranslate="clickandrungwApp.license.validUntil">Valid Until</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="consumed"><span jhiTranslate="clickandrungwApp.license.consumed">Consumed</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="learner.login"><span jhiTranslate="clickandrungwApp.license.learner">Learner</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let license of licenses ;trackBy: trackId">
                <td><a [routerLink]="['../license', license.id ]">{{license.id}}</a></td>
                <td jhiTranslate="{{'clickandrungwApp.Service.' + license.service}}">{{license.service}}</td>
                <td jhiTranslate="{{'clickandrungwApp.Language.' + license.studyLanguage}}">{{license.studyLanguage}}</td>
                <td>{{license.validSince | date:'medium'}}</td>
                <td>{{license.validUntil | date:'medium'}}</td>
                <td>{{license.consumed}}</td>
                <td>
                    <div *ngIf="license.learner">
                        <a [routerLink]="['../learner', license.learner?.id ]" >{{license.learner?.login}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../license', license.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'license/'+ license.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'license/'+ license.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="licenses && licenses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
