<div class="row">
    <div *ngIf="validation.headers.length >  0">
        <h3><span jhiTranslate="validation.tab.headers-title"></span></h3>
        <jhi-table [rows]="validation.headers" rowType="header"></jhi-table>
    </div>
    <div *ngIf="validation.errors.length >  0">
        <h3><span jhiTranslate="validation.tab.errors-title"></span></h3>
        <jhi-table [rows]="validation.errors"></jhi-table>
    </div>
    <div *ngIf="validation.warnings.length >  0">
        <h3><span jhiTranslate="validation.tab.warnings-title"></span></h3>
        <jhi-table [rows]="validation.warnings"></jhi-table>
    </div>
</div>
