<div class="table-responsive" *ngIf="rows">
    <table class="table table-striped">
        <thead>
        <tr>
            <th *ngIf="rowType === 'header'"><span jhiTranslate="validation.table.column-title"></span></th>
            <th *ngIf="rowType === 'content'"><span jhiTranslate="validation.table.row-title"></span></th>
            <th><span jhiTranslate="validation.table.field-title"></span></th>
            <th><span jhiTranslate="validation.table.value-title"></span></th>
            <th><span jhiTranslate="validation.table.error-title"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows">
            <td *ngIf="rowType === 'header'">{{row.column}}</td>
            <td *ngIf="rowType === 'content'">{{row.row}}</td>
            <td>{{row.field}}</td>
            <td>{{row.value}}</td>
            <td [jhiTranslate]="'validation.violation.' + row.violation">{{row.violation}}</td>
        </tr>
        </tbody>
    </table>
</div>
