
<div *ngIf="learner">
    <h2><span jhiTranslate="clickandrungwApp.learner.detail.title">Learner</span> {{learner.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="clickandrungwApp.learner.firstName">First Name</span></dt>
        <dd>
            <span>{{learner.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="clickandrungwApp.learner.lastName">Last Name</span></dt>
        <dd>
            <span>{{learner.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="clickandrungwApp.learner.login">Login</span></dt>
        <dd>
            <span>{{learner.login}}</span>
        </dd>
        <dt><span jhiTranslate="clickandrungwApp.learner.interfaceLanguage">Interface Language</span></dt>
        <dd>
            <span jhiTranslate="{{'clickandrungwApp.Language.' + learner.interfaceLanguage}}">{{learner.interfaceLanguage}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'learner/'+ learner.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
